<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div>
    <h1>Your Cart</h1>
    <div th:if="${user}">
        <p style="font-size: 22px; margin-right: 20px;">
            <span th:text="'Welcome ' + ${user}"></span>
        </p>
    </div>
</div>

<div th:if="${userRole == T(com.siamak.shop.model.Role).ADMIN}">
    <button id="adminBtn" class="admin-btn">Admin</button>
</div><br>

<table border="1">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.getTotalPrice()}"></td>
        <td>
            <button type="button" class="remove-btn" th:data-id="${item.product.id}">Remove</button>
        </td>
    </tr>
    </tbody>
</table><br>

<div class="total-price">
    <span id="total-price" th:text="'Total price: ' + ${totalPrice} + ' EUR'" th:attr="data-total-price=${totalPrice}">0.00</span>
</div><br>

<div class="buttons">
    <button id="purchaseBtn" class="btn-purchase">Purchase</button>
    <button id="productsBtn" class="btn-products" style="margin-left: 10px;">Products</button>
    <span th:if="${authenticatedUser}" style="margin-left: 10px;">
        <button id="ordersBtn" class="btn-orders">Orders</button>
    </span>
</div><br><br>

<div class="actions">
    <div th:if="${authenticatedUser}">
        <button id="logoutBtn" class="btn-logout">Logout</button>
    </div>
    <div th:unless="${authenticatedUser}">
        <button id="loginBtn" class="btn-login">Login</button></a>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let cartItemsCount = [[${cartItems != null}]] ? [[${#lists.size(cartItems)}]] : 0;
    /*]]>*/
</script>

<script>
    const adminBtn = document.getElementById('adminBtn');
    const logoutBtn = document.getElementById('logoutBtn');
    const loginBtn = document.getElementById('loginBtn');
    const ordersBtn = document.getElementById('ordersBtn');
    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    if (adminBtn) {
        adminBtn.addEventListener('click', function () {
            window.location.href = "/admin";
        });
    }

    if (ordersBtn) {
        document.getElementById('ordersBtn').addEventListener('click', function () {
            window.location.href = "/orders";
        })
    }

    document.getElementById('purchaseBtn').addEventListener('click', function () {
        if (cartItemsCount > 0){
            window.location.href = "/payment";
        } else {
            alert("Your cart is empty. Please add items before proceeding to payment.");
        }
    });

    if (logoutBtn) {
        document.getElementById('logoutBtn').addEventListener('click', function () {
            fetch('/api/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                credentials: 'include'
            })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(text => { throw new Error(text); });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.type === "oauth2") {
                        const appLogoutRedirect = encodeURIComponent("http://localhost:8080/");
                        const appEngineLogout = `https://appengine.google.com/_ah/logout?continue=${appLogoutRedirect}`;
                        const googleLogout = `https://accounts.google.com/Logout?continue=${encodeURIComponent(appEngineLogout)}`;
                        window.location.href = googleLogout;
                    } else {
                        window.location.href = "/";
                    }
                })
                .catch(error => {
                    alert("Logout failed: " + error.message);
                });
        });
    }

    if (loginBtn) {
        document.getElementById('loginBtn').addEventListener('click', function () {
            window.location.href = "/loginPage";
        })
    }

    document.getElementById('productsBtn').addEventListener('click', function () {
        window.location.href = "/products";
    });

    document.querySelectorAll('.remove-btn').forEach(button => {
        button.addEventListener('click', function () {
            const productId = this.getAttribute('data-id');

            fetch(`/api/cart/remove?productId=${productId}`, {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
            })
                .then(res => {
                    if (res.ok) {
                        window.location.reload();
                    } else {
                        return res.text().then(msg => alert(msg));
                    }
                })
                .catch(err => alert("Error removing from cart: " + err.message));
        });
    });

</script>

</body>
</html>
